<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    Post Number:
    <span class="dollar-amount">{{post_number}}</span>
  </p>
  <p>
    <button id="post-btn" class="btn btn-primary">Comment on this Post</button>
  </p>
</div>
